<ng-container *ngIf="isSigningOut">
  <div
    class="fixed z-40 flex h-full w-full items-center justify-center bg-dark-background-tertiary/70"
  >
    <div
      style="font-family: 'Orbitron'"
      class="flex flex-col items-center rounded-md border-2 border-font-main border-opacity-25 bg-dark-background-secondary p-4"
    >
      <p class="text-center">
        Are you sure <br />
        you want to sign-out?
      </p>
      <div
        class="flex w-full justify-between px-6 text-lg text-blue-green-main"
      >
        <div>
          <button (click)="fireAuthService.signOut()" class="w-1/2">Yes</button>
        </div>
        <div>
          <button (click)="toggleSingingOut()" class="w-1/2">No</button>
        </div>
      </div>
    </div>
  </div></ng-container
>
