<div class="flex flex-col">
  <div
    class="font-chalkdust text-5xl text-blue-green-secondary absolute w-full text-center -z-10 top-3"
  >
    TB
  </div>
  <div class="flex place-content-between w-full px-8 py-4">
    <a
      nz-dropdown
      nzTrigger="click"
      [nzDropdownMenu]="signOut"
      class="text-2xl text-blue-green-main hover:text-blue-green-secondary hover:opacity-50"
    >
      <span nz-icon nzType="logout" nzTheme="outline"></span>
    </a>
    <nz-dropdown-menu
      #signOut="nzDropdownMenu"
      class="rounded-xl hover:bg-transparent"
    >
      <ul nz-menu class="bg-transparent rounded-xl">
        <li nz-menu-item>
          <app-sign-out></app-sign-out>
        </li>
      </ul>
    </nz-dropdown-menu>

    <a
      nz-dropdown
      nzTrigger="click"
      [nzDropdownMenu]="addTrip"
      [nzClickHide]="false"
      class="text-2xl text-blue-green-main hover:text-blue-green-secondary hover:opacity-50"
    >
      <span nz-icon nzType="plus" nzTheme="outline"></span>
    </a>
    <nz-dropdown-menu #addTrip="nzDropdownMenu">
      <ul nz-menu class="bg-transparent rounded-xl">
        <li nz-menu-item>
          <app-add-trips/>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <div
    class="bg-dark-background-main opacity-80 mx-4 rounded-lg overflow-hidden"
  >
    <div
      class="bg-dark-background-secondary bg-opacity-60 text-center shadow-md shadow-blue-green-main"
    >
      Upcoming Trips
    </div>
    <div class="h-52 overflow-scroll"><app-list-trips/>
      <app-list-itinerary-items/></div>
  </div>
  <div *ngIf="this.fireAuthService.user$ | async as user">
  </div >
  <div class="bg-dark-background-main opacity-80 m-4 rounded-lg overflow-hidden">
  <app-calendar/></div>
</div>
