<div
  style="font-family: 'Orbitron'"
  class="absolute top-6 -z-10 w-full text-center text-5xl text-blue-green-main"
>
  <h1 class="text-blue-green-secondary">
    <span>T</span>
    <span class="text-xl">RAIL</span>
    <span>B</span>
    <span class="text-xl">LAZERS</span>
  </h1>
</div>
<div #newUser class="flex h-full flex-col items-center justify-center">
  <header
    style="font-family: 'Orbitron'"
    class="flex w-full flex-col items-center gap-2"
  >
    <h1 class="text-3xl text-blue-green-main">Welcome</h1>
    <h2 class="text-font-main">it's time to start your journey</h2>
  </header>
  <main
    class="m-6 h-fit max-w-md overflow-hidden rounded-3xl bg-dark-background-tertiary/70"
  >
    <div class="flex h-9 font-extrabold">
      <a
        routerLink="./sign-in"
        class="flex w-1/2 items-center justify-center bg-blue-green-secondary text-dark-background-tertiary"
        routerLinkActive="active"
        >Login</a
      >
      <a
        routerLink="./sign-up"
        class="flex w-1/2 items-center justify-center bg-blue-green-secondary text-dark-background-tertiary"
        routerLinkActive="active"
        >Sign Up</a
      >
    </div>
    <router-outlet></router-outlet>
  </main>
</div>
