<div
  style="font-family: 'Orbitron'"
  class="text-5xl text-blue-green-main absolute w-full text-center -z-10 top-6"
>
  <h1 class="text-blue-green-secondary">
    <span>T</span>
    <span class="text-xl">RAIL</span>
    <span>B</span>
    <span class="text-xl">LAZERS</span>
  </h1>
</div>
<div #newUser class="flex flex-col justify-center h-full items-center">
  <header
    style="font-family: 'Orbitron'"
    class="flex w-full flex-col items-center gap-2"
  >
    <h1 class="text-3xl text-blue-green-main">Welcome</h1>
    <h2 class="text-font-main">it's time to start your journey</h2>
  </header>
  <main
    class="bg-dark-background-tertiary rounded-3xl h-fit m-6 overflow-hidden bg-opacity-70 max-w-md"
  >
    <div class="flex h-9 font-extrabold">
      <a
        routerLink="./sign-in"
        class="w-1/2 flex items-center justify-center bg-blue-green-secondary text-dark-background-tertiary"
        routerLinkActive="active"
        >Login</a
      >
      <a
        routerLink="./sign-up"
        class="w-1/2 flex items-center justify-center bg-blue-green-secondary text-dark-background-tertiary"
        routerLinkActive="active"
        >Sign Up</a
      >
    </div>
    <router-outlet></router-outlet>
  </main>
</div>
