<div class="p-4">
  <form
    [formGroup]="signUpForm"
    (ngSubmit)="signUpSubmit()"
    class="flex flex-col gap-4"
  >
    <div class="flex place-content-between px-4">
      <label for="email" class="flex items-center">Email: </label>
      <div class="w-44">
        <input
          type="email"
          placeholder="Email"
          formControlName="email"
          name="email"
          id="email"
          #email
          class="w-full rounded-lg border-2 border-dark-background-tertiary bg-transparent pl-2"
        />
      </div>
    </div>
    <div class="flex place-content-between px-4">
      <label for="password" class="flex items-center">Password: </label>
      <div class="ml-2 w-44">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          formControlName="password"
          #password
          class="w-full rounded-lg border-2 border-dark-background-tertiary bg-transparent pl-2"
        />
      </div>
    </div>
    <button
      type="submit"
      class="mx-auto rounded-xl bg-blue-green-secondary px-8 py-2 text-dark-background-tertiary hover:shadow-xl"
    >
      Sign Up
    </button>
  </form>
</div>
