<div class="flex items-center flex-col">
  <p style="font-family: 'Orbitron'" class="font-bold text-sm">
    Let's start your next journey
  </p>
  <div class="flex justify-center">
    <input
      type="text"
      [(ngModel)]="tripName"
      placeholder="New Trip"
      class="w-6/12 rounded-l-md pl-2 text-dark-background-tertiary p-2"
    />
    <button
      (click)="addTrip()"
      class="px-2 font-extrabold bg-blue-green-main bg-opacity-70 rounded-r-md hover:bg-opacity-40 hover:text-font-main text-dark-background-tertiary"
    >
      Add Trip
    </button>
  </div>
</div>
