<div class="p-4">
  <form>
    Email:
    <input
      type="email"
      placeholder="Email"
      name="email"
      [(ngModel)]="email"
      required
      class="bg-transparent border-2 rounded-lg border-dark-background-main"
    />
    Password:
    <input
      type="password"
      placeholder="Password"
      name="email"
      [(ngModel)]="password"
      required
      class="bg-transparent border-2 rounded-lg border-dark-background-main"
    />
    <button type="button" class="mx-auto" (click)="login(email, password)">
      Login
    </button>
  </form>
</div>
