<ng-container *ngIf="(selectedTripData$ | async)?.tripName?.length">
  <ng-container *ngIf="tripItemMatch$ | async">
    <div class="pt-3 flex flex-col items-center">
      <ul class="w-full">
        <li *ngFor="let item of itineryItemsStore$ | async">
          <ng-container
            class="m-0"
            *ngIf="item.tripName === (selectedTripData$ | async)?.tripName"
          >
            <app-item-listing [itineraryItem]="item"></app-item-listing>
          </ng-container>
        </li>
      </ul>
    </div>
  </ng-container>
  <ng-container *ngIf="!(tripItemMatch$ | async)">
    <div class="px-2 m-0 flex flex-col items-center mt-6">
      <p class="opacity-60">No items added yet, lets start the process</p>
      <p class="opacity-60">Just use the + to add your first itinerary item</p>
    </div>
  </ng-container>
</ng-container>
