<p>firestore-add-item works!</p>
<section>
  <h1>Itinerary Items</h1>
  <ul>
    <li *ngFor="let item of firebaseStore.itinerary$ | async">
      {{ item.name }},{{ item.tag }},{{ item.startDate }},{{ item.endDate }},{{
        item.cost
      }}
    </li>
  </ul>
</section>
<form>
  <input type="text" placeholder="Name" #name />
  <input type="text" placeholder="Tag" #tag />
  <input type="date" #start_date />
  <input type="date" #end_date />
  <input type="number" #cost />
  <input
    #email
    [value]="(fireAuthService.user$ | async)?.email"
    type="hidden"
  />
  <button
    type="button"
    (click)="
      firebaseStore.addItineraryItem(
        email.value,
        name.value,
        tag.value,
        start_date.value,
        end_date.value,
        cost.value
      )
    "
  >
    Add Item
  </button>
</form>
