<div class="flex flex-col items-center p-2">
  <div
    class="flex justify-center bg-blue-green-secondary w-full rounded-t-lg text-dark-background-main font-bold"
  >
    <button (click)="setMonth(-1)" class="flex items-center">
      <span nz-icon nzType="left" nzTheme="outline"></span>
    </button>
    <p class="m-0 px-4">
      {{ date | date : "MMMM yy" | uppercase }}
    </p>
    <button (click)="setMonth(+1)" class="flex items-center">
      <span nz-icon nzType="right" nzTheme="outline"></span>
    </button>
  </div>
  <div>
    <ul>
      <li
        class="days inline-block border-[1px] border-blue-green-main hover:bg-none active:bg-none"
        *ngFor="let day of days"
      >
        {{ day }}
      </li>
      <li
        *ngFor="let date of dates"
        [ngClass]="{ 'opacity-40': !isSameMonth(date) }"
        (click)="selected.emit(date)"
        class="inline-block border-[1px] border-blue-green-main hover:bg-blue-green-main hover:bg-opacity-40"
      >
        {{ date | date : "d" }}
      </li>
    </ul>
  </div>
</div>
