<div class="flex flex-col items-center px-4">
  <div
    class="flex justify-center w-full rounded-t-lg text-font-main font-bold pb-2 pt-1"
  >
    <button (click)="setMonth(-1)" class="flex items-center">
      <span nz-icon nzType="left" nzTheme="outline"></span>
    </button>
    <p class="m-0 px-4">
      {{ date | date : "MMMM yy" | uppercase }}
    </p>
    <button (click)="setMonth(+1)" class="flex items-center">
      <span nz-icon nzType="right" nzTheme="outline"></span>
    </button>
  </div>
  <div>
    <ul>
      <li
        class="days inline-block border-[1px] border-blue-green-main border-opacity-50 hover:bg-none active:bg-none"
        *ngFor="let day of days"
      >
        {{ day }}
      </li>
      <li
        *ngFor="let date of dates"
        [ngClass]="{ 'opacity-60': !isSameMonth(date) }"
        [ngClass]="{
          'text-dark-background-tertiary bg-blue-green-main bg-opacity-80':
            tripActiveOnDay(date)
        }"
        class="inline-block border-[1px] border-blue-green-main border-opacity-50 hover:bg-blue-green-main hover:bg-opacity-40"
      >
        {{ date | date : "d" }}
      </li>
    </ul>
  </div>
</div>
