/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.img {
  clip-path: polygon(18% 38%, 78% 0, 93% 92%, 0 100%);
}

@font-face {
  font-family: "Orbitron";
  src: url("./assets/Orbitron-VariableFont_wght.ttf");
}
